@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: all .2s linear;
   text-transform: capitalize;
}

html{
	font-size:62.5%;
	overflow-x: hidden;
}

body{
	background: #eee;
}

.container{
   max-width: 1000px;
   margin:0 auto;
   padding:3rem 2rem;
}

.container .title{
   font-size: 3.5rem;
   color:#444;
   margin-bottom: 3rem;
   text-transform: uppercase;
   text-align: center;
}

.container .subtitle{
   font-size: 3rem;
   color:#444;
   margin-bottom: 3rem;
   text-transform: uppercase;
   text-align: center;
}
.container .products-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(285px, 2fr));
   gap:2rem;
}

.container .products-container .product{
   text-align: center;
   font-size: 2.5rem;
   padding:3rem 2rem;
   background: #fff;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   outline: .1rem solid #ccc;
   outline-offset: -1.5rem;
   cursor: pointer;
}
.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
	}
.product h3 {
	margin-top: 10px;
}

@media screen and (min-width: 600px) {
	.product {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

	.product h3 {
		margin-top: 0;
		margin-left: 20px;
	}
}
